<div class="profile-row">
    <div class="profile-image">
        <img src="assets/JaneSmith.png" style="width:80%"/>
    </div>

    <div>
        <div class="title">
            NAME
            <div class="profile-class">Jane Smith</div>
        </div>

        <div class="title">
            AGE
            <div class="profile-class">26 Yrs</div>
        </div>

        <div class="title">
            OCCUPATION
            <div class="profile-class">Software Engineer</div>
        </div>
    </div>

    <div style="padding-left:50px;">
        <div class="title">
            SESSION DATE
            <div class="profile-class">Sunday, November 10th</div>
        </div>

        <div class="title">
            SESSION TIME
            <div class="profile-class">11:00am</div>
        </div>

        <div class="title">
            LOCATION
            <div class="profile-class">Princeton, NJ</div>
            </div>
    </div>
</div>
