@import url('https://www.w3schools.com/w3css/4/w3.css');


.btn {
    margin: 15px;
    background-color: black;
    // box-shadow: 1px 1px 3px 3px #43B0AA ;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    height: 40px;
    border-radius: 7px;
  }

  /* Style the active class, and buttons on mouse-over */
  .active{
    color: black;
    background-color: #A6EDE9;
  }

  .logo {
    height:70%;
    margin: 11px;
    padding-right: 7px;
  }

  .w3-bar {
    background-color: black;
    height: 70px;
    margin: 0;
  }

  .row {
    display: flex;
  }