<div>
    <div class="page-title">Therapy Sessions Progress</div>
    <div class="progress-text">Review the client’s progress overtime through therapy sessions.
        Investigate each past session indepthly with sentiment analysis data gathered from the session. 
    </div>

    <a routerLink="/" class="progress-container">
        <div class="session-title-text">Jane Smith, Session 3</div>
        
        <!-- flex row -->
        <div class="text-container"> 
            <div class="title">
              SESSION DATE
               <div class="text">Sunday, November 10th</div>
            </div>
            <div class="title">
                SESSION TIME
                <div class="text">11:00am</div>
            </div>
        </div>

        <div class="graph-image">
            <img src="assets/sentiment2.png"/>
        </div>

        <div class="graphs-container">
            <div class="graph">
                <img src="assets/joy2.png" />
            </div>
            <div class="graph">
                <img src="assets/sadness2.png"/>
            </div>
            <div class="graph">
                <img src="assets/anger2.png"/>
            </div>
            <div class="graph">
                <img src="assets/surprise2.png"/>
            </div>

        </div>


    </a>


    <a routerLink="/" class="progress-container">
        <div class="session-title-text">Jane Smith, Session 2</div>
            
        <!-- flex row -->
        <div class="text-container"> 
            <div class="title">
              SESSION DATE
               <div class="text">Saturday, November 9th</div>
            </div>
            <div class="title">
                SESSION TIME
                <div class="text">1:00pm - 2:00pm</div>
            </div>
        </div>
    
        <div class="graph-image">
            <img src="assets/sentiment3.png"/>
        </div>

        <div class="graphs-container">
        <div class="graph">
                <img src="assets/joy3.png" />
            </div>
            <div class="graph">
                <img src="assets/sadness3.png"/>
            </div>
            <div class="graph">
                <img src="assets/anger3.png"/>
            </div>
            <div class="graph">
                <img src="assets/surprise3.png"/>
            </div>

        </div>
    
    
    </a>


    <a routerLink="/" class="progress-container" style="margin-bottom:40px;">
        <div class="session-title-text">Jane Smith, Session 1</div>
            
        <!-- flex row -->
        <div class="text-container"> 
            <div class="title">
                SESSION DATE
            <div class="text">Friday, November 8th</div>
            </div>
            <div class="title">
                SESSION TIME
                <div class="text">10:00am - 11:00am</div>
            </div>
        </div>
    
        <div class="graph-image">
            <img src="assets/sentiment1.png"/>
        </div>
    
        <div class="graphs-container">
            <div class="graph">
                <img src="assets/joy1.png"/>
            </div>
            <div class="graph">
                <img src="assets/sadness1.png"/>
            </div>
            <div class="graph">
                <img src="assets/anger1.png"/>
            </div>
                <div class="graph">
                <img src="assets/surprise1.png"/>
            </div>
        </div>
    
    </a>
    
</div>
