<div>
    <div *ngIf="displayState == 0" class="menu-container">

        <div class="page-title">Welcome To TheraMe!</div>
        <div class="page-text">
            TheraMe is a tool for analyzing therapy sessions in a detailed and meaningful way. 
            Use this tool for keeping progresss and analyzing client sessions, ultimately improving mental health positively. 
            To begin analyzing a therapy session, select time intervals to track data in. 
        </div>
        
        
        <div>
            <img src="assets/picture.png" class="menu-image"/>
        </div>

        <div class="menu-interval-set">
            <div class="title">SET TIME</div>
            <ngx-mat-numberpicker>
                [min]="1"
                [max]="10"
                [default]="5"
                (onChange)="onValueChanged($event)"
                step="1">
             </ngx-mat-numberpicker>
        </div>

        <button mat-button (click)="fetchData()" class="analyze-button">
            ANALYZE
        </button>
    </div>

    <div *ngIf="displayState == 1">
        <app-loader></app-loader>
    </div>

    <div *ngIf="displayState == 2">
        <app-analyzed></app-analyzed>
    </div>

</div>